In [88]:
import pandas as pd

In [89]:
df =pd.read_csv("C:\\Users\\satya\\anaconda3\\practice\\taylor_swift_lyrics.csv" ,encoding = 'latin-1')

In [90]:
df.head()

,artist,album,track_title,track_n,lyric,line,year
0,Taylor Swift,Taylor Swift,Tim McGraw,1,He said the way my blue eyes shined,1,2006
1,Taylor Swift,Taylor Swift,Tim McGraw,1,Put those Georgia stars to shame that night,2,2006
2,Taylor Swift,Taylor Swift,Tim McGraw,1,"I said, ""That's a lie""",3,2006
3,Taylor Swift,Taylor Swift,Tim McGraw,1,Just a boy in a Chevy truck,4,2006
4,Taylor Swift,Taylor Swift,Tim McGraw,1,That had a tendency of gettin' stuck,5,2006

In [91]:
songs =df.groupby('track_title').agg({'lyric':lambda x: " ".join(x),
                                     'year': 'mean'}).reset_index()

In [92]:
songs.head()

,track_title,lyric,year
0,...Ready for It?,Knew he was a killer first time that I saw him...,2017
1,22,It feels like a perfect night to dress up like...,2012
2,A Perfectly Good Heart,Why would you wanna break a perfectly good hea...,2006
3,A Place In This World,"I don't know what I want, so don't ask me Caus...",2006
4,All Too Well,"I walked through the door with you, the air wa...",2012

In [93]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [94]:
import nltk
from nltk.corpus import stopwords

In [95]:
stop_words = stopwords.words('english')

In [96]:
stop_words.extend(['back','said','come','things','get','oh','one','yeah','place','would','like','know','stay','go','let','cause'])

In [97]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\satya\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [98]:
vectorizer = TfidfVectorizer(stop_words =stop_words, min_df= 0.1)

In [99]:
tfidf = vectorizer.fit_transform(songs['lyric'])

In [100]:
from sklearn.decomposition import NMF

In [101]:
nmf = NMF(n_components = 6)

In [102]:
topic_values = nmf.fit_transform(tfidf)

C:\Users\satya\anaconda3\lib\site-packages\sklearn\decomposition\_nmf.py:1076: ConvergenceWarning: Maximum number of iterations 200 reached. Increase it to improve convergence.
  warnings.warn("Maximum number of iterations %d reached. Increase it to"

In [103]:
for topic_num, topic in enumerate(nmf.components_):
    message = "Topic#{}: ".format(topic_num+1)
    message+= " ".join([vectorizer.get_feature_names()[i] for i in topic.argsort()[:-10 :-1]])
    print(message)

Topic#1: love beautiful way never knew waiting feel say see
Topic#2: ever never getting remember still want see gonna could
Topic#3: wanna good first break feeling end way well miss
Topic#4: baby time sorry night bad see dancing every dreams
Topic#5: think gone dress hope head rain could better best
Topic#6: girl got home look tell long say want forever

In [104]:
topic_labels = ['love','memories','breakups','party','homesick','independence']

In [105]:
df_topics =pd.DataFrame(topic_values, columns =topic_labels)
df_topics

        love  memories  breakups     party  homesick  independence
0   0.053945  0.090489  0.000000  0.462898  0.000000      0.000000
1   0.020638  0.000000  0.085023  0.265411  0.052827      0.000000
2   0.000000  0.000000  0.693371  0.000000  0.000000      0.000000
3   0.000000  0.032502  0.017096  0.000000  0.000000      0.467125
4   0.000000  0.190981  0.081912  0.071888  0.061323      0.150273
..       ...       ...       ...       ...       ...           ...
89  0.022482  0.031057  0.049198  0.239196  0.064975      0.038311
90  0.071351  0.164723  0.000000  0.029907  0.063035      0.242063
91  0.338782  0.000000  0.000000  0.000000  0.009257      0.108484
92  0.013247  0.117205  0.000000  0.335684  0.154671      0.044866
93  0.000000  0.000000  0.057560  0.440443  0.000000      0.008559

[94 rows x 6 columns]

In [106]:
songs =songs.join(df_topics)

In [107]:
songs.head()

,track_title,lyric,year,love,memories,breakups,party,homesick,independence
0,...Ready for It?,Knew he was a killer first time that I saw him...,2017,0.053945,0.090489,0.000000,0.462898,0.000000,0.000000
1,22,It feels like a perfect night to dress up like...,2012,0.020638,0.000000,0.085023,0.265411,0.052827,0.000000
2,A Perfectly Good Heart,Why would you wanna break a perfectly good hea...,2006,0.000000,0.000000,0.693371,0.000000,0.000000,0.000000
3,A Place In This World,"I don't know what I want, so don't ask me Caus...",2006,0.000000,0.032502,0.017096,0.000000,0.000000,0.467125
4,All Too Well,"I walked through the door with you, the air wa...",2012,0.000000,0.190981,0.081912,0.071888,0.061323,0.150273

In [108]:
songs.loc[songs['love'] >= 0.1, 'love'] = 1
songs.loc[songs['memories'] >= 0.1, 'memories'] = 1
songs.loc[songs['breakups'] >= 0.1, 'breakups'] = 1
songs.loc[songs['party'] >= 0.1, 'party'] = 1
songs.loc[songs['homesick'] >= 0.1, 'homesick'] = 1
songs.loc[songs['independence'] >= 0.1, 'independence'] = 1

In [109]:
songs.head()

,track_title,lyric,year,love,memories,breakups,party,homesick,independence
0,...Ready for It?,Knew he was a killer first time that I saw him...,2017,0.053945,0.090489,0.000000,1.000000,0.000000,0.0
1,22,It feels like a perfect night to dress up like...,2012,0.020638,0.000000,0.085023,1.000000,0.052827,0.0
2,A Perfectly Good Heart,Why would you wanna break a perfectly good hea...,2006,0.000000,0.000000,1.000000,0.000000,0.000000,0.0
3,A Place In This World,"I don't know what I want, so don't ask me Caus...",2006,0.000000,0.032502,0.017096,0.000000,0.000000,1.0
4,All Too Well,"I walked through the door with you, the air wa...",2012,0.000000,1.000000,0.081912,0.071888,0.061323,1.0

In [110]:
songs.loc[songs['love'] < 0.1, 'love'] = 0
songs.loc[songs['memories'] < 0.1, 'memories'] = 0
songs.loc[songs['breakups'] < 0.1, 'breakups'] = 0
songs.loc[songs['party'] < 0.1, 'party'] = 0
songs.loc[songs['homesick'] <0.1, 'homesick'] = 0
songs.loc[songs['independence'] <0.1, 'independence'] = 0

In [111]:
songs.head()

,track_title,lyric,year,love,memories,breakups,party,homesick,independence
0,...Ready for It?,Knew he was a killer first time that I saw him...,2017,0.0,0.0,0.0,1.0,0.0,0.0
1,22,It feels like a perfect night to dress up like...,2012,0.0,0.0,0.0,1.0,0.0,0.0
2,A Perfectly Good Heart,Why would you wanna break a perfectly good hea...,2006,0.0,0.0,1.0,0.0,0.0,0.0
3,A Place In This World,"I don't know what I want, so don't ask me Caus...",2006,0.0,0.0,0.0,0.0,0.0,1.0
4,All Too Well,"I walked through the door with you, the air wa...",2012,0.0,1.0,0.0,0.0,0.0,1.0

In [112]:
year_topics = songs.groupby('year').sum()

In [113]:
year_topics.columns

Index(['love', 'memories', 'breakups', 'party', 'homesick', 'independence'], dtype='object')

In [121]:
df_topics['years']=df_topics.index

In [122]:
import matplotlib.pyplot as plt

In [123]:
plt.figure(figsize=(20,10))

In [124]:
plt.plot(year_topics['year'],year_topics['independence'],label = 'independence')
plt.plot(year_topics['year'],year_topics['love'],label = 'love')
plt.plot(year_topics['year'],year_topics['breakups'],label = 'breakups')
plt.plot(year_topics['year'],year_topics['party'],label = 'party')
plt.plot(year_topics['year'],year_topics['homesick'],label = 'homesick')
plt.plot(year_topics['year'],year_topics['memories'],label = 'memories')

KeyError: 'year'